---
import { getCollection } from "astro:content";
import ProjectLayout from "../../layouts/ProjectLayout.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { slug: project.slug },
    }));
}

const { slug } = Astro.params;
const projects = await getCollection("projects");
const project = projects.find((p) => p.slug === slug);

if (!project) {
    throw new Error(`Project not found: ${slug}`);
}

const {Content } = await project.render();
---

<ProjectLayout>
    <!-- TODO: format this better! -->
    <h1>{project.data.name}</h1>
    <h2>{project.data.caption}</h2>
    <Content />
</ProjectLayout>
