---
import Header from "../components/Header.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- Link to FontAwesome CSS -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            integrity="sha512-Fo3rlrZj/kTcSmFIililrH/X9eWyOXEEITltpW1yZ7U5Or4u44Ix4ytvx6Mg7czL5v2GZJa0kmx3wK4V/4msRA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About Me</title>
    </head>
    <body>
        <Header />
        <h1>Course Charter</h1>
        <!-- TODO: using the JSON data, create a graphical display of the courses, etc. -->
    </body>
</html>
