---
import Header from "../components/Header.astro";
import { Icon } from "astro-icon/components";
import "../styles/contact.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About Me</title>
        <script is:inline src="/scripts/theme.js"></script>
    </head>
    <body>
        <Header />
        <!-- TODO: move these contact buttons to the top of the header file -->
        <div class="about-me-container">
            <!-- Contact Buttons -->
            <div class="contact-buttons">
                <a href="mailto:amyrlee@umich.edu" class="contact-button">
                    <Icon name="email" class="icon" />
                    <span class="tooltip">Email</span>
                </a>
                <a
                    href="https://www.linkedin.com/in/amy-lee-umich"
                    class="contact-button"
                    target="_blank"
                >
                    <Icon name="linkedin" class="icon" />
                    <span class="tooltip">LinkedIn</span>
                </a>
                <a
                    href="https://github.com/tessaSlice"
                    class="contact-button"
                    target="_blank"
                >
                    <Icon name="github-dark" class="icon" />
                    <span class="tooltip">GitHub</span>
                </a>
            </div>
        </div>
        <div>
            <!-- TODO: make the following text bold! -->
            <p>Hi, I'm Amy!</p>
            <p>
                I'm currently studying Computer Science at the University of
                Michigan. I'm interested in pursuing problems relating to
                applications of AI to real world projects and am currently an
                intern at Nexteer where I work on embedded software. In my free
                time, I enjoy reading books and cooking.
            </p>
        </div>
        <!-- TODO: move projects here! Remove the projects page -->
    </body>
</html>
