---
import Header from "../components/Header.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Home</title>
        <script is:inline src="/scripts/theme.js"></script>
    </head>
    <body>
        <Header />
        <div>
            <h1 style="text-align: center;"><b>Hi, I'm Amy Lee!</b></h1>
            <p>
                I'm a student studying Computer Science at the
                University of Michigan. I'm interested in pursuing problems
                relating to applications of AI to real world projects and was an
                intern at Nexteer this past summer where I worked on embedded
                software. You can find my other project experiences in my
                resume.
            </p>
        </div>
        <h1 id="projects">Projects</h1>
        <div class="project-cards-container">
            <ProjectCard />
        </div>
    </body>
</html>
