---
import Header from "../components/Header.astro";
import { Icon } from "astro-icon/components";
import "../styles/contact.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About Me</title>
    </head>
    <body>
        <Header />
        <h1>About Me</h1>
        <p>Hi! I'm Amy Lee, a current student at the University of Michigan.</p>
        <!-- Contact Buttons -->
        <div>
            <a href="mailto:amyrlee@umich.edu" class="contact-button"
                ><Icon name="email" class="icon" />Email</a
            >
            <a
                href="https://www.linkedin.com/in/amy-lee-umich"
                class="contact-button"
                target="_blank"><Icon name="linkedin" class="icon" />LinkedIn</a
            >
            <a
                href="https://github.com/tessaSlice"
                class="contact-button"
                target="_blank"
                ><Icon name="github-dark" class="icon" />GitHub</a
            >
        </div>
    </body>
</html>
