---
import Header from "../components/Header.astro";
import { Icon } from "astro-icon/components";
import "../styles/contact.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Index</title>
    </head>
    <body>
        <Header />
        <div class="about-me-container">
            <h1>About Me</h1>
            <!-- Contact Buttons -->
            <div class="contact-buttons">
                <a href="mailto:amyrlee@umich.edu" class="contact-button">
                    <Icon name="email" class="icon" />
                    <span class="tooltip">Email</span>
                </a>
                <a
                    href="https://www.linkedin.com/in/amy-lee-umich"
                    class="contact-button"
                    target="_blank"
                >
                    <Icon name="linkedin" class="icon" />
                    <span class="tooltip">LinkedIn</span>
                </a>
                <a
                    href="https://github.com/tessaSlice"
                    class="contact-button"
                    target="_blank"
                >
                    <Icon name="github-dark" class="icon" />
                    <span class="tooltip">GitHub</span>
                </a>
            </div>
        </div>
        <p>
            Hi! I'm Amy Lee, a current Computer Science student at the
            University of Michigan.
        </p>
    </body>
</html>
