---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Resume</title>
        <script is:inline src="/scripts/theme.js"></script>
    </head>
    <body>
        <Header />
        <div class="pdf-container">
            <embed
                class="resume-embed"
                src="/Resume.pdf"
                type="application/pdf"
                width="100%"
                height="100%"
                style="min-height: 100vh;"
            />
            <p class="notice">
                Screen size is too small. Please download resume instead or
                configure device to request the desktop version instead (at your
                own discretion).
            </p>
            <a href="/Resume.pdf" class="download-button" download>
                Download Resume
            </a>
        </div>
    </body>
</html>

<style>
    .pdf-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;
        text-align: center;
        padding: 1rem;
    }

    .resume-embed {
        display: block;
        width: 100%;
        height: 100%;
    }

    .download-button {
        display: none;
        padding: 1rem 2rem;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    .notice {
        display: none;
        font-size: 1.2rem;
        color: #333;
        margin-top: 1rem;
    }

    @media (max-width: 768px) {
        .resume-embed {
            display: none;
        }

        .download-button,
        .notice {
            display: block;
        }
    }
</style>
