---
import Header from '../components/Header.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} >
        <title>About Me</title>
    </head>
    <body>
        <Header />
        <!-- add resume items here -->
        <h1>Resume</h1>
        <!-- consider adding a button here to download my resume perhaps? -->
    </body>
</html>
