---
import '../styles/global.css'
---
<!-- TODO: create a resume page -->
<!-- TODO: add light/dark mode toggle with icon! -->
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/posts/projects.html">Projects</a>
    <a href="/resume/">Resume/CV</a>
</div>
