---
import '../styles/global.css'
---
<!-- TODO: add light/dark mode toggle with icon! -->
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/posts/projects.html">Projects</a>
    <!-- TODO: modify the resume link so that it directs to a new page with a link to my resume as a PDF -->
    <!-- add to the left of the resume/cv an icon to indicate it'll take you to a new page -->
    <a href="/resume/">Resume/CV</a>
</div>
