---
import '../styles/global.css'
---
<!-- TODO: create a resume page -->

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/posts/project-1/">Project 1</a>
    <a href="/resume/">Resume/CV</a>
</div>
