---
import "../styles/global.css";
---

<div class="nav-container">
    <button class="hamburger-menu" aria-label="Menu"> &#9776; </button>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/project-home.html">Projects</a>
        <a href="/resume">Resume/CV</a>
        <button id="theme-toggle">
            <span id="theme-icon-light">&#9728;</span>
            <span id="theme-icon-dark">&#9790;</span>
        </button>
    </div>
</div>

<script>
    function toggleTheme() {
        const currentTheme =
            document.documentElement.getAttribute("data-theme") || "light";
        // TODO: get rid of after debugging
        console.log("Current theme: " + currentTheme);
        console.log("Saved theme: " + localStorage.getItem("theme"));
        const newTheme = currentTheme === "light" ? "dark" : "light";
        // TODO: remove after debugging!
        console.log("New theme set to: " + newTheme);
        document.documentElement.setAttribute("data-theme", newTheme);
        localStorage.setItem("theme", newTheme);
        console.log("New saved theme set to: " + localStorage.getItem("theme"));
        updateStyles(newTheme);
        updateIcon(newTheme);
    }

    function updateIcon(theme) {
        const iconLight = document.getElementById("theme-icon-light");
        const iconDark = document.getElementById("theme-icon-dark");
        if (theme === "light") {
            iconLight.style.display = "inline";
            iconDark.style.display = "none";
        } else {
            iconLight.style.display = "none";
            iconDark.style.display = "inline";
        }
    }

    document
        .getElementById("theme-toggle")
        .addEventListener("click", toggleTheme);

    function updateStyles(theme) {
        const root = document.documentElement;

        if (theme === "dark") {
            root.style.setProperty(
                "--background-color",
                "var(--dark-background-color)",
            );
            root.style.setProperty("--text-color", "var(--dark-text-color)");
            root.style.setProperty(
                "--button-background-color",
                "var(--dark-button-background-color)",
            );
            root.style.setProperty(
                "--button-text-color",
                "var(--dark-button-text-color)",
            );
        } else {
            root.style.setProperty(
                "--background-color",
                "var(--default-background-color)",
            );
            root.style.setProperty("--text-color", "var(--default-text-color)");
            root.style.setProperty(
                "--button-background-color",
                "var(--default-button-background-color)",
            );
            root.style.setProperty(
                "--button-text-color",
                "var(--default-button-text-color)",
            );
        }
    }

    // Toggle navigation links visibility on hamburger menu click
    document.querySelector(".hamburger-menu").addEventListener("click", () => {
        document.querySelector(".nav-links").classList.toggle("expanded");
    });
</script>
