---
import '../styles/global.css'
---
<!-- figure out if there exists some way to dynamically scrape all MD files -->

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/posts/project-1/">Project 1</a>    
</div>
