---
// Import required for props definition
export interface ProjectTagsProps {
    tags: string[];
}

// Define the props using set:props
const { tags }: ProjectTagsProps = Astro.props;
---

<div>
    {tags.map((tag) => <span class="tag">{tag}</span>)}
</div>
