code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

:root {
    /* Light mode styles */
    --background-color: #ffffff;
    --text-color: #333333;
    --button-background-color: #ffffff;
    --button-text-color: #333333;
    --nav-background-color: #ffffff;

    /* Dark mode styles */
    --dark-background-color: #333333;
    --dark-text-color: #ffffff;
    --dark-button-background-color: #333333;
    --dark-button-text-color: #ffffff;
    --dark-nav-background-color: #333333;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    background-color: var(--background-color);
    color: var(--text-color);
}

button#theme-toggle {
    background-color: var(--background-color);
    color: var(--text-color);
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* nav styles */
.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #dfe2e5;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #cfe7ff;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 360px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        /* Distribute items with equal space around them */
        align-items: center;
        padding: 1rem;
        background-color: var(--background-color);
        color: var(--text-color);
    }

    .nav-links a {
        color: var(--text-color);
        text-decoration: none;
        margin: 0 10px;
        transition: background-color 1s ease;
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 10px;
    }
}

/* end of nav styles */

.project-cards-container {
    display: flex;
    /* Ensures the cards wrap to the next line if they exceed the container width */
    flex-wrap: wrap;
    /* Adds some space between the cards */
    gap: 1.5rem;
}

.project-cards-container .project-card {
    /* Adjusts the width of each card to take up 50% of the container's width minus the gap */
    flex: 1 1 calc(50% - 1rem);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .project-cards-container .project-card {
        /* Makes the cards stack vertically on smaller screens */
        flex: 1 1 100%;
    }
}

/* Styles for the navigation container */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Styles for the hamburger menu */
.hamburger-menu {
    /* hidden by default */
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
}

/* Styles for the toggle button */
#theme-toggle {
    padding: 0.5rem 1rem;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    font-size: 14px;
}

/* Hover effect */
#theme-toggle:hover {
    background-color: #f0f0f0;
}

/* Active (pressed) state */
#theme-toggle:active {
    /* Darker background color when pressed */
    background-color: #ccc;
}

/* Dark mode styles */
[data-theme="dark"] #theme-toggle {
    /* update button background color, text color, and border color */
    background-color: var(--dark-button-background-color);
    color: var(--dark-button-text-color);
    border-color: var(--dark-button-text-color);
}

/* Hide the dark mode icon by default */
#theme-icon-dark {
    display: none;
}

/* hamburger menu styling */
@media (max-width: 768px) {
    .nav-links {
        /* Hidden by default on smaller screens */
        display: none;
        flex-direction: column;
        width: 100%;
        /* Full viewport height */
        height: 100vh;
        /* Light mode nav background color */
        background-color: var(--nav-background-color);
        /* Fixed position to cover the entire page */
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem 0;
        /* Ensure the navigation is above other content */
        z-index: 2;
        /* Shadow for better visibility */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        /* Enable scrolling if content overflows */
        overflow-y: auto;
        /* Center the links vertically */
        justify-content: center;
    }

    .nav-links.expanded {
        /* Show when expanded */
        display: flex;
        /* Light mode nav background color */
        background-color: var(--nav-background-color);
    }

    [data-theme="dark"] .nav-links,
    [data-theme="dark"] .nav-links.expanded {
        /* Dark mode nav background color */
        background-color: var(--dark-nav-background-color);
    }

    .hamburger-menu {
        /* Show hamburger menu on smaller screens */
        display: block;
        /* Ensure the hamburger menu is on top of the expanded nav */
        z-index: 3;
    }

    [data-theme="dark"] .hamburger-menu {
        color: var(--button-text-color);
    }

    .nav-links a,
    #theme-toggle {
        padding: 1rem;
        text-align: center;
    }
}