---
import Header from '../../components/Header.astro';
import ProjectCard from '../../components/ProjectCard.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} >
        <title>Projects</title>
    </head>
    <body>
        <Header />
        <h1>Projects</h1>
        <!-- add contact items, email, LinkedIn, GitHub -->
        <!-- create components of projects that I have done, use Astro -->
        <ProjectCard name="Embedded Coding Competition" caption="Cracking a safe with an Arduino!" description="I coded a lot of Arduino! [TODO add more details]" languages={['C', 'Arduino']} themes={['Embedded']} />
        <!-- create components of courses I've taken & my thoughts on it? -->
    </body>
</html>
